// LAYOUT ==================
$god-space: 1%; // the horizontal padding in all the prongs.
$heaven-width: 20%; // prong width right (as a percentage to help scaling).
$hell-width: 20%; // prong width left (as a percentage to help scaling).
$personal-space: 1%; // the vertical padding between believers.
$transition: 1.2s;
// MEDIA BREAKS ==================
$god-loose: 1200px; // loose - prongs divided - no overlap.
$god-cosy: 900px; // cosy - overlap between sinners and the pillar.
$god-tight: 600px; // tight - believers full width - piller width small margin.
$heaven-cosy: 20%; // cosy - allow the heaven width to grow by by this amount.
$hell-cosy: 20%; // cosy - allow the hell width to grow by by this amount.
$pillar-cosy: 100%; // cosy - allow the pillar width to grow by by this amount.
// COLORS ==================
$heaven-color: LimeGreen; // light bg: mainly for bg with $pillar-color text.
$pillar-color: #0b0501; // dark text: mainly for heading text on white bg.
$hell-color: OrangeRed; // dark bg: mainly for bg with white text.
$god-color: black;
$god-blushed: lighten($hell-color, 25);
// TEXT ==================
$god-h1: 350%; // font size of h1.
$god-h6: 100%; // font size of h6.
$god-p: 100%; // font size of paragraph text.
$god-spoke: $god-p * 1.1; // standout with big text.
$god-head: sans-serif; // for heading level text.
$god-body: "Bitter", sans-serif; // for body level text.
// BASICS ==================
$god-border: 1px $god-blushed solid; // general purpose border
$inline-padding: 3px;
$toothpaste-color: "none";
// BELIEVERS ==================
$container: (body); // sin classes only affect direct children of these
$pillar: (
  h1,
  p,
  menu
); // pillar - all tags are stictly contained the same way - no believers here.
$heaven: (blockquote); // hangs right - gets the best views.
$hell: (aside); // hangs left.
