.adonHideOnScrollDown {
  @include tight_and_cosy {
    transition: all $transition;
    transition-timing-function: ease-in;
    -webkit-transition: all $transition;
    -webkit-transition-timing-function: ease-in;
    // transition-delay: 0.1;
    // transition-duration: $transition;
    // transition-property: all;
    // -webkit-transition-delay: 0.1;
    // -webkit-transition-duration: $transition;
    // -webkit-transition-property: all;
    &.adonHide {
      // position: absolute;
      // position: -webkit-absolute;
      top: -500px;
    }
  }
}
