.adonStatus-disabled {
  /// DEBUG: adonStatus.js;
  @include colorize_god(darkgrey, lightgrey);
}

.adonStatus-error {
  /// DEBUG: adonStatus.js;
  @include colorize_god(red, black);
}

.adonStatus-fixed {
  /// DEBUG: adonStatus.js;
  // top: 100px !important;
  position: fixed;
}

.adonStatus-sticky {
  /// DEBUG: adonStatus.js;
  // top: 100px !important;
  position: sticky;
}
@include loose {
  .adonStatus-sticky {
    /// DEBUG: adonStatus.js;
    // top: 100px !important;
    position: relative;
  }

  .adonStatus-fixed {
    /// DEBUG: adonStatus.js;
    // top: 100px !important;
    position: relative;
  }
}
