.adonToolBar {
  /// DEBUG: adonToolBar.js;
  @include fixed_height(48px);
  cursor: pointer;
  margin-top: $personal-space !important;
  margin-bottom: 0 !important;
  padding-top: $personal-space !important;
  padding-bottom: $personal-space !important;
  transition: all $transition ease-in-out;
  @include tight_and_cosy {
    @include fixed_height(32px);
    @include fixed_width(32px);
    text-align: center !important;
  }
}

.adonToolBar.slavehidden {
  /// DEBUG: adonToolBar.js;
  margin-top: $personal-space !important;
  background-color: $pillar-color !important;
}

.adonToolSlave {
  /// DEBUG: adonToolBar.js;
  margin-top: 0 !important;
  opacity: 1;
  transition: visibility $transition linear 0s, all $transition;
  visibility: visible;
}

.adonToolSlave.slavehidden {
  /// DEBUG: adonToolBar.js;
  // display: none !important;
  @include fixed_height(0);
  opacity: 0;
  overflow: hidden;
  padding: 0 !important;
  // font-size: 0.5px;
  line-height: 0;
  transition: visibility 0s linear $transition, all 0s;
  transition-timing-function: ease;
  visibility: hidden;
}

#{$heaven} {
  &.adonToolBar {
    /// DEBUG: adonToolBar.js;
    text-align: right !important;
    @include tight_and_cosy {
      float: right !important;
      text-align: center !important;
    }
  }
}
